.playerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to left top,
    rgb(255, 255, 255),
    rgb(92, 130, 218)
  );
  height: 390px;
  width: 250px;
  border-radius: 5px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
