.players {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* justify-content: center;
    align-items: center; */
}

.player {
  width: 350px;
  height: 370px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 200px; */
  align-items: center;
  border-radius: 5px;
  background-image: linear-gradient(
    to bottom,
    rgba(206, 106, 106, 0.5),
    rgba(0, 0, 255, 0.5)
  );
  box-shadow: 0px 0px 5px 2px black;
}

.playerPic {
  width: 230px;
  height: 230px;
  padding: 10px;
  border-radius: 15px;
}

button {
  margin: 5px;
}
