.subtituteBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bench {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.subitute {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to left top,
    rgb(143, 131, 131),
    rgb(204, 37, 37)
  );
  height: 390px;
  width: 250px;
  border-radius: 5px;
}
