.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://phantom-marca.unidadeditorial.es/441f124286a88964ea3e6af676e5d60f/resize/1320/f/jpg/assets/multimedia/imagenes/2021/05/14/16210009414166.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: antiquewhite;
}
h2 {
  color: antiquewhite;
}
